<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cl.utem.informatica.alumnos.nigue.dao.UsuarioMapper">

    <cache />

    <select id="getUsuarioByRut" parameterType="int" resultType="Usuario">
        SELECT 
        rut, 
        password 
        FROM usuarios 
        WHERE rut = #{rut}
        ;
    </select>
    
    <insert id="insertUsuario" parameterType="Usuario">
        INSERT INTO usuarios
        (rut, password)
        VALUES               
        (#{rut}, #{password})
        ;
    </insert>
    
    <update id="updateUsuario" parameterType="Usuario">
        UPDATE usuarios
        SET password = #{password}
        WHERE rut = #{rut}
        ;
    </update>
    
    <delete id="deleteUsuario" parameterType="Usuario">
        DELETE FROM usuarios
        WHERE rut = #{rut}
        ;
    </delete>
  
    <select id="getAllUsuario" resultType="Usuario">
        SELECT 
        rut, 
        password 
        FROM usuarios
        ;
    </select>

</mapper>