<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

    <bean id="testBean"
          class="cl.utem.informatica.alumnos.nigue.jsf.TestBean">
        <property name="edad" value="23"/>
        <property name="nombre" value="miguel"/>
        <property name="cuenta" value="true"/>
    </bean>
    
    <import resource="classpath:dataSourceContext.xml" />
    <import resource="classpath:mybatisContext.xml" />
    
    <!--Usuario-->
    <bean id="seeUserBean"
          class="cl.utem.informatica.alumnos.nigue.jsf.pages.usuario.SeeUserBean"
          scope="request"/>
    <bean id="addUserBean"
          class="cl.utem.informatica.alumnos.nigue.jsf.pages.usuario.AddUserBean"/>
    <bean id="searchUserBean"
          class="cl.utem.informatica.alumnos.nigue.jsf.pages.usuario.SearchUserBean"/>
    <bean id="updateUserBean"
          class="cl.utem.informatica.alumnos.nigue.jsf.pages.usuario.UpdateUserBean"/>
    <bean id="deleteUserBean"
          class="cl.utem.informatica.alumnos.nigue.jsf.pages.usuario.DeleteUserBean"/>
    
    <!--Acceso-->
    <bean id="seeAccesoBean"
          class="cl.utem.informatica.alumnos.nigue.jsf.pages.acceso.SeeAccesoBean"
          scope="request"/>
    
    <!--Login-->
    <bean id="loginBean"
          class="cl.utem.informatica.alumnos.nigue.jsf.pages.login.LoginBean"
          scope="request"/>
    
    <!--Graphic-->
    <bean id="usuarioVsAccesoBean"
          class="cl.utem.informatica.alumnos.nigue.jsf.pages.graphics.UsuarioVsAccesoBean"
          scope="request"/>
    
</beans>
